body {
    margin: 0;
    overflow: hidden;
    font-family: 'montserrat';
    background-color: #68C7C1;
    background-image: url("/assets/Radio_BG.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 20%;
}

/* Font styling */
h1, h2, h3, p {
    font-family: 'montserrat';
    text-align: center;
    margin-bottom: 20px;
    color: #57372C;
}


